<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="register-customer">Register Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-account">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="delete-account/:accountNumber">Delete Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer-list">Customer List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="account-list">Account List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="deposit">Deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="transfer">Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="withdraw">Withdraw</a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" routerLink="getByAccountNumber/:accountNumber">Get Statement</a> -->
            <a class="nav-link" routerLink="statement">Get Statement</a>
        </li>
      </ul>
    </div>
</nav>