<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Deposit</h3>
    <form (ngSubmit) = "depositFund()">
        <div class="form-group">
            <label>Account Number</label>
            <input type="number" class="form-control" id="inAccount" placeholder="Enter the account number where you want to deposit the fund"
            [(ngModel)] = "fundDeposit.inAccount" name="inAccount">
        </div>
        <div class="form-group">
            <label>Amount (USD)</label>
            <input type="number" class="form-control" id="amount" placeholder="Enter the amount you want to deposit"
            [(ngModel)] = "fundDeposit.amount" name="amount">
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </form>

</div>
