<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Withdraw</h3>
    <form (ngSubmit) = "withdrawFund()">
        <div class="form-group">
            <label>Account Number</label>
            <input type="number" class="form-control" id="fromAccount" placeholder="Enter the account number from where you want to withdraw the fund"
            [(ngModel)] = "fundWithdraw.fromAccount" name="fromAccount">
        </div>
        <div class="form-group">
            <label>Amount (USD)</label>
            <input type="number" class="form-control" id="amount" placeholder="Enter the amount you want to deposit"
            [(ngModel)] = "fundWithdraw.amount" name="amount">
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </form>

</div>
